@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #202021;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.icon-game {
  background-image: url(./assets/images/icon/game.png);
}
.icon-movie {
  background-image: url(./assets/images/icon/movie.png);
}
.icon-book {
  background-image: url(./assets/images/icon/book.png);
}
.icon-music {
  background-image: url(./assets/images/icon/music.png);
}
.icon-food {
  background-image: url(./assets/images/icon/food.png);
}

.icon-ethbeijing {
  background-image: url(./assets/images/ethbeijing.png);
}

body {
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}
